:root {
  --main-font: "Quicksand";
  --text-color: rgba(21, 35, 44, 1);
  --secondary-color: rgba(211, 37, 35, 1);

  --bg-color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fe34a0;
  border: none;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  -webkit-box-shadow: 0px 4px 0px 0px #64069d;
  box-shadow: 0px 4px 0px 0px #64069d;
}
.button:hover {
  scale: 120%;
}

.icon {
  width: 36px;
  height: 28.56px;
}

.section--title {
  font-family: Luckiest Guy;
  text-transform: uppercase;
  margin: auto;
  width: 302px;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: rgba(211, 37, 35, 1);
  margin: 48px auto 32px;
}
@media (min-width: 1200px) {
  .section--title {
    font-weight: 900;
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.title--yellow {
  color: #fff853;
  text-shadow: 0px 4px 2px #ff820d;
}

.padding--responsive {
  padding: 60px 20px;
}
@media (min-width: 1200px) {
  .padding--responsive {
    padding: 88px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}
.header-icon-policy {
  width: 40px;
  height: 40px;
  padding: 7px 9px;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.policy-terms-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
}
.policy-terms-list {
  position: static;
  flex: 1;
}

.header {
  height: 100px;
  display: flex;
}

.nav-policy-terms-item {
  display: flex;
  flex-direction: row;
}
.navigation-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;

  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: rgba(98, 132, 209, 1);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: rgba(242, 242, 254, 1);
  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 1);
}

.header__icon-button.is-open + .navigation__list {
  background: rgba(54, 56, 92, 1);
}

.navigation.is-open {
  background: rgba(54, 56, 92, 1);
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
}
.navigation.is-open {
  background: rgba(54, 56, 92, 1);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 36px;
  padding: 48px;
  top: 130px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: rgba(54, 56, 92, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 4px 16px;

  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  color: rgba(98, 132, 209, 1);
}

.header.is-open {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header {
    background-color: rgba(242, 242, 254, 1);

    padding: 8px 24px 8px 24px;
    gap: 8px;
    border-radius: 999px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-policy-terms {
    background-color: transparent;
  }
  .header {
    height: 100px;
    display: flex;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-block: 20px;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    position: static;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding-block: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 50px;

    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 200px;
    padding: 0%;
    height: 14px;
    color: rgba(29, 19, 70, 1);
  }
}

.main {
  background-color: var(--accent-color);
}
.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 780px;
  margin: auto;

  background-image: url("/image/home/Section-1-Hero.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-top: 670px;
}

.home__title-image {
  max-width: 350px;
  width: 100%;
}

.home__google-button_link {
  display: inline-block;
  max-width: 312px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 12px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  width: 264px;
  height: 66px;
  margin-top: -100px;
}
.home-image {
  display: none;
}

.gallery__item {
  cursor: pointer;
  padding: 10px;
}
.gallery__image {
  width: 343px;
  height: 154px;

  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 370px;
}
.gallery__list {
  max-width: 350px;
}
@media screen and (min-width: 1200px) {
  .gallery__list {
    max-width: 1296px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__list {
    max-width: 1296px;
  }
}
.play {
  background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
}
.play-image {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.play__item {
  cursor: pointer;
  padding: 10px;
}
.play__image {
  width: 343px;

  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.play__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-image-desk {
  display: none;
}
.play__list {
  width: 375px;
}

@media screen and (min-width: 1200px) {
  .play-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
  .play__container {
    display: none;
  }
  .reviews-title {
    display: none;
  }
  .play-image {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    height: 980px;

    background-image: url("/image/home/Section-1-Hero\ \(1\).png");
  }

  .home__google-button_link {
    width: 300px;
    height: 86px;
    margin-top: 1px;
    margin-left: -780px;
  }
}

.advantages {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 60px;
  background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
}

.advantages-image {
  width: 375px;
  height: 1086px;

  margin: 0 auto 0;
}
.advantages-image-desk {
  display: none;
}

@media screen and (min-width: 1200px) {
  .advantages {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 60px;
    background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
  }
  .advantages-title {
    display: none;
  }
  .advantages-image {
    display: none;
  }
  .advantages-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}

.features {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
}

.features-image {
  width: 375px;

  margin: 0 auto 0;
}
.features-image-desk {
  display: none;
}

@media screen and (min-width: 1200px) {
  .features {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 60px;
    background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
  }
  .features-title {
    display: none;
  }
  .features-image {
    display: none;
  }
  .features-image-desk {
    display: flex;
    margin: auto;
    width: 1440px;
  }
}
/*  */

.faq-item {
  border: 2px solid #381911;
  padding: 10px 20px;
  background-color: #fbead9;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  max-width: 700px;
  font-family: Arial, sans-serif;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #8b5e3c;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #381911;
}

/*  */

.gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 60px;
  background-color: var(--accent-color);
  padding-top: 110px;
  padding-bottom: 103px;
  background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
}

.gallery__image {
  width: 343px;
  height: 154px;
}
.gallery-title {
  margin: auto;
  width: 159px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-block: 88px;
    padding-top: 41px;
    padding-bottom: 65px;
  }
  .gallery-title {
    width: 283px;
  }

  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px;
  }
  .gallery__image {
    width: 1000px;
    height: 450px;

    top: 0.12px;
    left: 1006.91px;
    gap: 0px;
    opacity: 0px;
  }

  .gallery-button-container {
    margin-top: 59px;
  }
}

.footer {
  background: rgba(54, 56, 92, 1);
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 37.5px 32px;
  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(98, 132, 209, 1);
  text-align: center;

  row-gap: 8px;
}
.footer-texts {
  padding: 0 8px;
  color: rgba(98, 132, 209, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer-copyright {
  font-family: Poppins;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 37.5px 40px;
    gap: 32px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-copyright {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 550px;
  }
  .footer-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

.policy-terms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: start;
  padding: 107px 16px 76px;
  background: linear-gradient(180deg, #bfdcfa 0%, #f2f2fe 50%, #bfdcfa 100%);
}

.policy-terms-title-image {
  margin: auto;
  margin-bottom: 20px;
  width: 342px;
}
.policy-title-image {
  margin: auto;
  margin-bottom: 20px;
  width: 255px;
}
.policy-terms-text-top-one {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  padding-bottom: 16px;
}
.policy-terms-text-top-two {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
}
.policy-terms-text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: rgba(8, 38, 53, 1);

  padding-top: 48px;
  padding-bottom: 16px;
}

.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;

  color: rgba(36, 37, 36, 1);
}

.terms-list {
  list-style-type: disc;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;

  padding-left: 35px;
}
.terms-list-bold {
  font-weight: 700;
}

.email-link {
  color: inherit;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 160px 182px;
    align-items: start;
  }
  .policy-title-image {
    margin: auto;
    margin-bottom: 20px;
    width: 520px;
  }

  .policy-terms-title-image {
    margin: auto;
    margin-bottom: 20px;
    width: 342px;
    width: 695px;
  }
  .policy-terms-text-top-one {
    padding-bottom: 24px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .policy-terms-text-top-two {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .policy-terms-text {
    font-family: Luckiest Guy;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

    padding-top: 48px;
    padding-bottom: 16px;
  }

  .policy-terms-text-one {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(21, 35, 44, 1);
  }

  .terms-list {
    list-style-type: disc;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  .terms-list-bold {
    font-weight: 700;
  }
}
